
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBook</title>
</head>
<body>
    <h1>List all book</h1>
    <select>
        <option>Book 1</option>
        <option>Book 2</option>
        <option>Book 3</option>
    </select>
    <button> List </button>
</body>
</html>
